{% extends 'ona_base.html' %}
{% load humanize %}
{% load i18n %}

{% block styles %}
    {{block.super}}
    <style type="text/css">
    .container {
        max-width: 960px;
    }
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .footer{
        margin-top: 45px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
    .nav.who-dcp{
        padding-top:0.7em;
    }
    #ona-tagline {
        color:#666666;
        padding:3em 2em 2em 2em;
        text-align: center;
    }
    #ona-tagline h4:first-child{
        color:#808080;
        font-size:1em;
        font-weight:200;
    }
    #ona-tagline h1 {
        font-size: 44px;
    }
    .tag-info{
        color:#777;
        font-size:26px;
        font-weight:200;
        margin-top:0.8em;
    }
    #ona-tagline p {
        font-size: 18px;
    }
    .login-box{
        border:1px solid #ddd;
        padding:2em;
    }
    .navbar-nav > li > a {
        padding: 0;
    }
    .navbar-nav > li > a:hover{
        background: transparent;
    }
    </style>
{% endblock %}

{% block content %}
{% if SITE_READ_ONLY%}
<h1>{% blocktrans %}We're down for maintenance. We will be back shortly.{% endblocktrans %}</h1>
{% endif %}
<div id="ona-tagline">
    <h4>WORLD HEALTH ORGANIZATION | DATA COORDINATION PLATFORM</h4>
    <h1>{% trans "Harmonized Response" %}</h1>

    <h4 class="tag-info">{% blocktrans %}WHO Data Coordination Platform (DCP) for Secure management of electronic forms and data in real-time between health and development partners.{% endblocktrans %}</h4>
</div>
<div class="row">
    <div class="col-md-8">
        <img src="{{STATIC_URL}}images/hand-super.png"/>
    </div>
    <div class="col-md-4 login-box">
        {% url "auth_login" as login_url %}
        <form role="form" method="post" action="{{ login_url }}">
                        <input type="text" class="form-control" autocomplete="off" autofocus="autofocus" name="username" placeholder="Username">
                        <br/>
                        <input type="password" class="form-control" autocomplete="off" name="password" placeholder="Password">
                        <br/>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans 'Sign in' %}</button>
                        <br/>
                        <p> Or if you want to create an account, please </p>
                        {% url "registration_register" as registration_url %}
                        {% blocktrans %}
                        <a class="btn btn-info btn-lg btn-block" href="{{ registration_url }}">Sign up</a>
                        {% endblocktrans %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            {% url "auth_password_reset" as reset_url %}
            <p>{% blocktrans %}Can't access your account? <a href="{{ reset_url }}">Reset your password.</a>{% endblocktrans %}</p>
        </div>
    </div>
<div class="row">
    <div class="col-md-8 ona-tagline">
  <center><h5>WHO DCP is part of the <a href="http://mhero.org">mHero</a> technology suite for effective Ebola response and monitoring.</h5></center>
</div></div>

<div class="row">
    <div class="col-md-8 ona-tagline">
    <!--<a href="http://www.unicef.org"><img alt="UNICEF" width="250" src="{{STATIC_URL}}images/unicef-logo.gif" /></a>&nbsp;&nbsp;-->
    </div>
</div>

        </div>
        {% endblock %}
